@import '../../../styles/variables.module';

.container {
  position: relative;
  width: 100%;
  cursor: default;
  background: var(--btc-secondary-color);
  background-clip: border-box;
  padding: 1.5rem 2.5rem;

  .btcIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  a {
    color: var(--primary-color);
  }

  .header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 18px;
    margin-bottom: 18px;
  }

  .txid {
    display: flex;
    flex: 1;
    gap: 0.5em;
    font-size: 1em;
    margin: 0;

    .btcTxBadge {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.25rem;
      background: var(--btc-primary-color);
      color: #fff;
      font-size: 0.75rem;
      line-height: 1;
      border-radius: 4px;
    }

    a {
      flex: 1;
      overflow: hidden;
      max-width: 68ch;
    }
  }

  .utxos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    white-space: nowrap;

    @media (width <= $extraLargeBreakPoint) {
      flex-direction: column;
    }
  }

  .input,
  .output {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;

    & > a {
      flex-shrink: 1;
      overflow: hidden;
    }

    .btcAttr {
      display: flex;
      gap: 0.5em;
      align-items: center;
      cursor: default;

      .newSeal {
        display: flex;
        align-items: center;
      }

      svg {
        color: #999;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .newSeal {
    svg:first-child {
      display: inline;
    }

    svg:last-child {
      display: none;
    }

    &:hover {
      svg:first-child {
        display: none;
      }

      svg:last-child {
        display: inline;
      }
    }
  }

  .iconPlaceholder {
    width: 24px;
  }
}
