@import '../../../styles/variables.module';

.pagination {
  padding: 0 120px;
  margin-top: 3px;
  margin-bottom: 40px;

  @media (width <= $xxlBreakPoint) {
    padding: 16px;
  }
}

.title {
  padding: 40px 120px 0;
  font-size: 24px;
  line-height: 28px;

  @media (width <= $xxlBreakPoint) {
    padding: 20px 16px 0;
    font-size: 20px;
    line-height: 23px;
  }
}
